// COLORS
$colors-primaryBackgroundLight: #ffffff;
$colors-primaryBackgroundDark: #0a0a0a;
$colors-primaryForegroundLight: #171717;
$colors-primaryForegroundDark: #ededed;
// BREAKPOINTS
$breakpoints-lg: 1920px;
$breakpoints-md: 1024px;
$breakpoints-sm: 768px;
