@use './variables' as vars;

:root {
  --primary-background: #{vars.$colors-primaryBackgroundLight};
  --primary-foreground: #{vars.$colors-primaryForegroundLight};

  @media (prefers-color-scheme: dark) {
    --primary-background: #{vars.$colors-primaryBackgroundDark};
    --primary-foreground: #{vars.$colors-primaryForegroundDark};
  }
}

body {
  color: var(--primary-foreground);
  background: var(--primary-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}